.category__container{
  display: flex;
  flex-direction: column;
  width: 1400px;
  justify-content: center;
  margin: 0 auto;
  min-height: 60vh;
  align-items: center;
}

.category__card{
  width: 350px;
  margin: 0 28px 36px;
  background-color: #BF80FB33;
  text-align: center;
  box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.35);
  border-radius: 40px;
  position: relative;

  & img{
    border-radius: 40px 40px 0 0;
    height: 220px;
    width: 100%;
    object-fit: cover;
  }
}

.category__body{
  padding: 0 30px;
  display: flex;
  flex-direction: column;

  & h4{
    margin: 0;
    text-transform: capitalize;
    font-size: 25px;

  }
}


@media only screen and (max-width: 600px) {
  .category__container{
    max-width: 500px;
    width: auto;
    margin: 0 15px;

    & h1 {
      font-size: 32px;
    }
  }

  .category__card{
    width: 330px;
    margin: 0 auto 36px;
  
    & img{
      height: 170px;
    }

  }
}



@media only screen and (min-width: 600px) and (max-width: 1200px)  {
  .category__container{
    max-width: 1100px;
    width: auto;
    margin: 0 15px;

    & h1 {
     margin-bottom: 10px;
    }
  }

  .category__card{
    width: 330px;
    margin: 0 auto 36px;

    & img{
      height: 170px;
    }
  }
}