.each-slide-effect>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 990px;
  border-radius: 25px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.slider-container {
  width: 990px;
  height: 500px;
  /* overflow: hidden; */
  border-radius: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  /* position: relative; */
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  /* position: relative; */
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }

  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }

  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  /* position: relative; */
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  /* position: relative; */
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.slider-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 auto;
  margin-bottom: 10px;
}

.slider-background {
  background: rgb(191, 128, 251, 0.2);
  width: 1200px;
  height: 400px;
  position: absolute;
  border-radius: 50px;
  filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.719));
}

.next-arrow {
  position: absolute;
  top: 50%;
  right: -70px;
  cursor: pointer;
  /* z-index: 10; */
}

.prev-arrow {
  position: absolute;
  top: 50%;
  left: -70px;
  cursor: pointer;
  /* z-index: 10; */
}


.custom-arrow {
  border-radius: 50%;
  border: 2px solid;
  padding: 5px;
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}