.category-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    border-bottom: 1px solid #000000;

}


@media only screen and (max-width: 600px) {

    .category-div {
        margin: 0 15px 80px;

        & h1 {
            font-size: 32px;
        }

    }

}

@media only screen and (min-width: 600px) {

    .category-div {
        margin: 0 15px 80px;

    }

}