.card {
    width: 560px;
    /* height: 400px; */
    /* background-color: black; */
    border-radius: 25px;
}

.slick-slide {
    border-radius: 25px;
}

.slick-slide>div {
    margin: 0 20px;
    width: 500px;
}

.card-slider {
    width: 1080px;
    margin: 0 auto 50px;
}

.card__img {
    border-radius: 25px 25px 0 0;
    width: 500px;
    height: 290px;
}

.card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #efdeff;
    height: 100%;
    border-radius: 0 0 25px 25px
}