.slides-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.slide-big_image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.slide-big_image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.slide-big_image button {
    color: #FF1088;
    font-size: 20px;
    cursor: pointer;
    background-color: #BF80FB33;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.slide-big_image button:hover {
    background-color: #7b6291;
}