.addcontent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.addcontent-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#editorjs {
    width: 100%;
    max-width: 990px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

