.postbutton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.postbutton button {
    width: 100%;
    max-width: 990px;
    color: rgb(0, 0, 0);
    background: rgba(75, 187, 231, 0.2);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}