.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 200px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    max-width: 650px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 65px;
}

.form-input {
    width: 100%;
    max-width: 635px;
    height: 85px;
    margin-bottom: 34px;
    padding-left: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 2rem;
    color: #333;
    transition: 0.3s;
    background-color: #fff;
}

.form-input:focus {
    border: 1px solid #ff6b6b;
}

.form-input::placeholder {
    color: #999;
    font-size: 2rem;
}

.form-label {
    font-size: 28px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

.form-button {
    width: 100%;
    height: 85px;
    margin-bottom: 30px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
    transition: 0.3s;
    background-color: #bf80fb4f;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-bottom: 30px;
}

.checkbox {
    width: 30px;
    height: 30px;
    cursor: pointer;
}